.white{
    color: aliceblue !important;
}

.carousel .carousel-item{
    height: 75vh;
}
.container-fluid .carousel{
    padding-left: 0px;
    padding-right: 0px;
}
.verticalLine {
    border-right: 1px solid #b3b3b6;
    height: 300px;
}
.projects{
    background-image: url("../Images/coming-soon2.jpg");
    height: 500px;
    background-size: cover;
}
body{
    font-family: "Nunito" !important;
}